@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --color-gray: #e8ebed;
    --color-gray-2: #898484;
    --color-gray-3: #f7f9fa;
    --color-bg: linear-gradient(to right bottom, #f26359, #e64e1b);
    --color-primary: #f2726a;
    --color-text: rgba(255, 255, 255, 0.73);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    height: 100vh;

    font-family: 'Poppins', sans-serif;
    font-size:1.4rem;
}
p{
    margin:0;
}
a, a:hover{
    text-decoration: none;
    color:#000;
    font-weight: 600;
    font-size: 16px;
}

ul{
    list-style-type: none;
    margin:0;
    padding:0;
}
i{
    cursor: pointer;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
h2{
    font-size:32px;
    font-weight: 600;
    margin:20px 0;
}


.container{
    max-width: 1200px;
}
.btn_normal{
    padding: 9px 20px;
    font-size:1.4rem;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 99px;
    background: #Bf0A30;
    opacity: .9;
    transition: 0.7s;
    cursor: pointer;
}
.btn_normal:hover{
    background: var(--color-gray);
    color:#000 !important
}
.btn_normal:focus{
    outline: none;
}

.btn_primary{
    width: 40%;
    padding:10px 20px;
    margin-top: 15px;
    background: transparent;
    border: 1px solid var(--color-primary);
    transition: 0.5s;
    color:var(--color-primary)
}

.btn_primary:hover{
    background: var(--color-primary);
    color:#fff !important;
}
.selected{
    background: var(--color-gray);
}
.title{
    font-weight: 600;
}
.scrolled{
    background: #Bf0A30 !important;
    opacity: 0.9;
}
.hide{
    display: none;
}
/* footer */
.footer{
    background: #000;
    color:#fff;
    padding:50px 30px;
}
.footer .wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.footer .frame{
    width: 25%;
}
.footer iframe{
    width: 100%;
    height: 100%;
}
.footer .wrapper_img{
    width: 25%;
    aspect-ratio: 1;
    overflow: hidden;
}
.footer ul{
    width: 25%;
}
.footer ul li{
    margin: 20px;
    color:#fff !important;
    font-weight: normal;
    font-size: 14px;
}
.footer ul li a{
    color:#fff !important;
    font-weight: normal;
    font-size: 14px;
}
.copyright{
    color:#a9b3bb;
    margin: 50px 0;
    text-align: center;
}
/* header */
.header{
    width: 100%;
    padding:20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:0;
    z-index: 10000;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background: #C72C41 !important;
    opacity: 1;
    transition: 0.7s;
}

.header_logo a img{
    width:40px;
    height: 40px;
    border-radius: 5px;
    margin-right: 15px;
}

.header_body ul{
    display: flex;
    align-items: center;
}
.header_body ul a{
    padding:7px 10px;
    margin:0 10px;
    border-radius: 10px;
    transition: 0.7s;
    color: rgba(255, 255, 255, 0.95) !important;
    transition: 0.2s;
}

.header_login a{
    margin-right: 20px;
    padding:7px 10px;
    border-radius: 10px;
    transition: 0.7s;
    color: rgba(255, 255, 255, 0.73) !important;
}
.header_login a:hover{
    font-size: 20px !important;
}
.header_menu{
    display: none;
    color:rgba(255, 255, 255, 0.73) !important
}
.header .dropdown{
    background: #fff;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    position: absolute;
    top:82px;
    right:0;
    text-align: center;
    font-size: 20px;
    transition: 0.5s;
}

.header .dropdown li{
    padding:10px 20px;
}
.header .dropdown li:hover{
   background: var(--color-primary);
}
@media screen and (max-width: 1100px){
    .footer ul{
        width: 45%;
        margin-bottom: 20px;
    }


    .header_body{
        display: none;
    }
    .header_menu{
        display:block !important;
        font-size: 20px;
    }
}

@media screen and (max-width:550px){
    .header_login{
        display: none;
    }
}

/* start */
.start {
    background: url(/assets/image/background.jpg);
    background-position: center bottom;
    width: 100%;
    height: 500px;
    position: relative;
}

.start .fill{
    background: rgba(0, 0, 0, 0.35);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
}
.start .start_body{
    position: relative;
    z-index: 100;
    max-width: 500px;
    margin-left: 50px;
    margin-bottom: 50px;
    transform: translateY(150px);
    color:#fff !important;
}
.start .start_body h1{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 35px;
}
.start .start_body blockquote{
    border-left: 2px solid var(--color-primary);
    padding:15px;
}
.start .start_body button{
    width: 40%;
    padding:10px 20px;
    margin-top: 15px;
    border: 1px solid var(--color-primary);
    background: transparent;
    transition: 0.5s;
}
.start .start_body button:hover{
    background: var(--color-primary);
}
