@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --color-gray: #e8ebed;
    --color-orange: linear-gradient(to right bottom, #ff8f26, #ff5117);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    height: 100vh;

    font-family: 'Poppins', sans-serif;
    font-size:1.4rem;
}
a{
    text-decoration: none;
    color:#000;
    font-weight: 600;
}

ul{
    list-style-type: none;
    margin:0;
    padding:0;
}
.container{
    max-width: 1200px;
}
.btn_normal{
    padding: 9px 20px;
    font-size:1.4rem;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 99px;
    background: var(--color-orange);
}
.selected{
    background: var(--color-gray);
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}