

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: url(/assets/image/co.png) no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.form-box {
    width: 380px;
    padding: 30px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-box h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #000;
    text-shadow: none;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #000;
    text-shadow: none;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    background: #ffffff;
    outline: none;
}

.btn {
    width: 100%;
    padding: 12px;
    background: var(--color-primary);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
}

.btn:hover {
   
}

.switch-form {
    text-align: center;
    margin-top: 20px;
}

.switch-form a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    text-shadow: none;
}

.switch-form a:hover {
    text-decoration: underline;
}

form span{
    font-size: 13px;
    color:red
}
.invalid{
    border:1px solid red !important
}