
/* explore */
.explore{
    margin-top:90px;
}
.explore .wrapper{
    background: var(--color-gray-3);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.carousel{
    width: 45%;
}
.carousel-inner{
    height: 500px;
}
.carousel-item{
    height: 100%;
    overflow: hidden;
}
/* .explore .carousel-inner div:first-child img{
    object-position: center;
} */
.explore img{
    object-position: center;
}
.explore .body{
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0 50px;
}
.explore .body .body_content .title{
    width: 100%;
    font-size: 24px;
    font-weight: 700;
}
.explore .body .body_content h4{
    font-size: 18px;
    font-weight: 300;
    color: color-mix(in srgb, #2b180d, transparent 30%);
    margin: 30px 0;
}
.explore .body .body_content a{
    display: block;
    text-align: center;
}
.explore ul li{
    font-size: 16px;
}
.bg-control{
    background: #000;
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
    top: 218px;
}
/* video */
.video{

}
.video .video_main{
    width: 100%;
    height: 700px;
    padding: 80px 0;
    border-bottom: 1px solid #eeddde;
}
.video iframe{
    width: 100%;
    height: 100%;
}
/* news */
.news{
    margin-top: 80px;
    text-align: center;
}
.news .container::before{
    content:"Tin tức nổi bật";
    font-size: 32px;
    font-weight: 600;
}
.news .news_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eeddde;
    padding-bottom:80px;
    margin-top: 30px;
}
.news .news_main .box{
    width: 32%;
    height: 300px;
    overflow: hidden;
}
.news .box .box_img{
    width: 100%;
    height: 100%;
}
.news .box a{
    display: block;
    padding:20px;
    margin:0 20px;
    border-radius: 5px;
    background: rgb(255,0,0,.7);
    color:#eeeeee;
    font-weight: bold;
    transition: 0.7s;
    opacity: 0;
}
.news .box:hover a{
    transform: translateY(-120px);
    opacity: 1;
}
/* product */
.product{
    margin:90px 0;
}
.product .items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product .item{
    background: var(--color-gray-3);
    width: 23%;
    /* aspect-ratio: 1; */
    border-radius: 15px;
    overflow: hidden;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.product .item:hover{
    transform: translateY(-10px);
    border: 1px solid #dadada;
}
.product .item .item_image{
    width: 100%;
    height: 70%;
}
.product .item h3,h4{
    margin: 15px;
}
.product .item h4{
    display: flex;
}
.product a{
    width: 50%;
    background: var(--color-primary);
    margin-bottom: 15px;
    transition: 0.5s;
    text-align: center;
}

h2::after{
    content: "";
    display: block;
    width: 50px;
    height: 4px;
    background: red;
    margin: auto;
    margin-top: 15px;
}
h2{
    text-align: center !important;
    color:#000 !important;
}

/* about */

.about{
    margin: 100px 0;
    position: relative;
    background: url(https://www.codecademy.com/resources/blog/wp-content/uploads/2022/12/What-Is-Pair-Programming--1.png) no-repeat center;
}
.about::after{
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    background: #Bf0A30;
    opacity: 0.9;
    
}
.about .wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 300px;
    position: relative;
    z-index: 10;
}
.about .item{
    width: 32%;
    text-align: center;
    color:#fff;
}
.about .item_title{
    font-weight: 700; 
    font-size: 20px;
}
/* responsiv.e */

@media screen and (max-width: 1100px){
    .footer ul{
        width: 45%;
        margin-bottom: 20px;
    }
    .footer .send_mail{
        width:100% !important;
        margin: 0 auto;
    }
    .header_body{
        display: none;
    }
    .header_menu{
        display:block !important;
        font-size: 20px;
    }
}
@media screen and (max-width: 1000px){
    .start{
        background-position: right left;
    }

    .goal .right{
        display: none !important;
    }
    .goal .left{
        width: 100%;
    }
    .goal h2{
        text-align: center;
    }

    .explore{
        padding:0 70px;
    }
    .explore .carousel,.body{
        width: 100% !important;
        margin-bottom: 30px;
    }

    .product .item{
        width: 48%;
        margin: 10px 0;
    }

    .trainers .item{
        width: 48%;
        margin: 15px 0;
    }
}

@media screen and (max-width:700px){
    .trainers .item{
        width: 100%;
        aspect-ratio: 4/3;
        margin: 15px 0;
    }
}
@media screen and (max-width:550px){
    .header_login{
        display: none;
    }
    .product .item{
        width: 100%;
    }
    .explore img{
        object-position: right;
        object-fit: contain !important;
    }
    .explore .carousel-inner{
        height: auto;
        aspect-ratio: 1 !important;
    }
    .about .item{
        width: 100%;
    }
}

